.container {
  width: calc(100% - 3.75rem);
  height: calc(100% - 3.75rem);
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  .product-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 15%;
    padding: 1.875rem;
    width: 50%;
    background-color: rgba(153, 153, 153, 0.6 );
    border-radius: 1.5625rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    img {
      border: 0.125rem solid #333;
      border-radius: 1.5625rem;
      width: 100%;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.625rem;
      height: 100%;

      .info-container {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        p {
          margin: 0;
        }

        .name {
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: capitalize;
        }

        .price {
          font-size: 1.125rem;
        }

        .description-container {
          .description-title {
            font-size: 1.25rem;
            font-weight: 500;
          }

          .description {
            margin-left: 0.625rem;
          }
        }
      }

      .button-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 1.25rem;

        button {
          width: 30%;
          border: none;
          border-radius: 1.25rem;
          font-size: 1rem;
          font-weight: 500;
          background-color: rgb(172, 90, 219, 0.8);
          color: white;
          height: 1.875rem;
          cursor: pointer;
        }
      }
    }
  }
}
