.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.3125rem;
    padding-inline: 0.3125rem;
    width: calc(100% - 0.625rem);
    height: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.25rem 0.125rem rgba(0, 0, 0, 0.3);

    button {
      width: fit-content;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
